@import url('https://fonts.googleapis.com/css2?family=David+Libre&display=swap" rel="stylesheet');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-brand img {
  border: 2px solid white;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .media {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
  }
}

@media screen and (max-width: 768px) {
  .footer-wrapper {
    height: 100vh !important;
  }
}

body,
html {
  height: 100%;
}

.navbar-nav {
  font-size: 2rem;
}

.bg {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(131, 27, 27, 0.2))), url("https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(131, 27, 27, 0.2)), url("https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80");
  background-position: center top;
  height: 80vh;
  background-size: cover;
}

.bg h1, .bg h2 {
  display: block;
}

.bg h1 {
  text-align: center;
  font-size: 3.5rem;
  -webkit-animation: text 2s 1;
          animation: text 2s 1;
}

@-webkit-keyframes text {
  0% {
    color: white;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  40% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

@keyframes text {
  0% {
    color: white;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  40% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

.bg h2 {
  text-align: center;
  font-size: 2.2rem;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h4 {
  color: white;
}

.container-fluid {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00c7ff), to(#c7e2ea));
  background-image: linear-gradient(#00c7ff, #c7e2ea);
}

.card {
  -webkit-box-shadow: 0px 4px 8px 0px #BDBDBD;
          box-shadow: 0px 4px 8px 0px #BDBDBD;
}

.profile-pic {
  width: 100px !important;
  height: 100px;
  -webkit-box-shadow: 0px 4px 8px 0px #BDBDBD;
          box-shadow: 0px 4px 8px 0px #BDBDBD;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: #1E88E5 !important;
  border: none;
  padding: 5px 20px !important;
  font: inherit;
  font-size: 50px !important;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  color: #0D47A1 !important;
  background-color: transparent !important;
}

.owl-dots {
  display: none;
}

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.item {
  display: none;
}

.next {
  display: block !important;
  position: relative;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0.6;
}

.prev {
  display: block !important;
  position: relative;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0.6;
}

.item.show {
  display: block;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

@media screen and (max-width: 999px) {
  .next,
  .prev {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  .item {
    display: block !important;
  }
}

.footer-wrapper {
  height: 40vh;
}

.map {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: underline;
}

.fa {
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2px 6px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 16px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 15px;
}

.fa-youtube {
  background: #dd4b39;
  color: white;
  padding: 15px;
}

.fa-whatsapp {
  background: #17d647;
  color: white;
  padding: 15px;
}

.waze p {
  text-decoration: underline;
}

.media:nth-child(even) {
  background-color: #d6d4d4;
}

.media {
  border: 2px solid black;
}

.mediaP {
  color: black;
  font-size: 0.8em;
  line-height: 1.6;
  direction: rtl;
}

ul {
  direction: rtl;
  color: black;
  font-size: 0.8em;
  line-height: 1.6;
}
/*# sourceMappingURL=main.css.map */