// @media screen and (max-width:1024px) {
//     .nav-links {
//         width: 60%;
//     }
// }

// @media screen and (max-width:768px) {
//   .waze {
//       margin-left: 10px;
//   }
//     }

    
@media screen and (min-width:768px) {
  .jumbotron {
     width:50%;
  }
    }

  @media screen and (max-width:768px){
    .media {
      flex-wrap:wrap-reverse !important;
    }
  }

  @media screen and (max-width:768px){
    .footer-wrapper {
      height: 100vh!important;
  }
  
  }
